.loader {
  text-align: center;
  display: none; }

.no-padding {
  padding: 0px !important; }

.no-margin {
  margin: 0px !important; }

.loader {
  text-align: center;
  margin-top: 15px; }

[data-page=index] .section .k-grid thead.k-grid-header tr th[role=columnheader][data-colspan],
[data-page=index] .section .k-grid thead.k-grid-header tr th[data-field=DataCount],
[data-page=index] .section .k-grid thead.k-grid-header tr th[data-field=DataSize],
[data-page=index] .section .k-grid thead.k-grid-header tr th[data-field=AllocatedSize],
[data-page=index] .section .k-grid thead.k-grid-header tr th[data-field=StartTime],
[data-page=index] .section .k-grid thead.k-grid-header tr th[data-field=Duration],
[data-page=index] .section .k-grid thead.k-grid-header tr th[data-field=Created],
[data-page=index] .section .k-grid thead.k-grid-header tr th[data-field=Expiry] {
  text-align: center; }

[data-page=user] .section-user .k-grid thead.k-grid-header tr th:last-child {
  text-align: center; }
[data-page=user] .section-insert .nav-menu {
  text-align: center;
  margin-bottom: 15px; }
[data-page=user] .section-insert .form {
  width: 400px !important;
  margin: 0px auto !important; }
  [data-page=user] .section-insert .form .k-dropdown .k-dropdown-wrap {
    padding: 3px 0px 2px 6px; }

[data-page=login] .section-login .form {
  position: absolute;
  width: 400px;
  height: 179px;
  left: 50%;
  top: 50%;
  margin-left: -200px;
  margin-top: -90px; }
  [data-page=login] .section-login .form .nav-menu {
    text-align: center;
    margin-bottom: 15px; }

body {
  font-size: 12px;
  background-color: #ebeef0; }
  body .main .page-header {
    position: relative;
    margin: 0px 0px 30px;
    padding: 20px;
    background-color: white;
    border-bottom: 1px solid #ccc;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); }
    body .main .page-header .pull-left {
      cursor: pointer; }
    body .main .page-header .logo {
      height: 40px; }
    body .main .page-header h1 {
      margin: 0px;
      padding: 0px;
      font-family: "Open Sans";
      font-weight: normal;
      font-size: 24px;
      padding-top: 6px;
      padding-left: 5px;
      color: #5F5F5F; }
    body .main .page-header .menu-nav {
      margin-top: 12px;
      margin-right: 20px; }
      body .main .page-header .menu-nav a {
        margin-left: 10px; }
  body .main .section .nav-search {
    padding: 0px 0px 15px; }
    body .main .section .nav-search .input-group {
      padding: 0px; }
      body .main .section .nav-search .input-group input {
        width: 40%;
        max-width: 300px; }
      body .main .section .nav-search .input-group .input-search {
        margin-right: 10px; }
  body .main .section .panel {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px; }
    body .main .section .panel .panel-heading {
      text-align: center; }
      body .main .section .panel .panel-heading .fa {
        margin-right: 3px; }
  body .main .section .panel-body {
    background-color: #fff;
    min-height: 430px; }
    @media screen and (max-width: 992px) {
      body .main .section .panel-body {
        min-height: inherit !important; } }

/*# sourceMappingURL=main.css.map */
