{{define "index"}}
{{template "head"}}

<!-- include res/page-index -->
<script src="/res/main/page-index.js"></script>

<div class="col-md-12" data-page="index">
	<div class="col-md-6 section section-nodes-grid">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<i class="fa fa-cogs"></i> Nodes Information
			</div>
			<div class="panel-body">
				{{template "search"}}
				<div class="row no-padding no-margin">
					<div class="grid"></div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-6 section section-nodes-chart">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<i class="fa fa-bar-chart-o"></i> Nodes Information
			</div>
			<div class="panel-body">
				<div class="chart"></div>
			</div>
		</div>
	</div>

	<div class="col-md-6 section section-items-grid">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<i class="fa fa-files-o"></i> Items Information
			</div>
			<div class="panel-body">
				{{template "search"}}
				<div class="row no-padding no-margin">
					<div class="grid"></div>
				</div>
			</div>
		</div>
	</div>

	<div class="clearfix"></div>
</div>
{{template "foot"}}
{{end}}
