{{define "console"}}
{{template "head"}}
<!-- include res/page-console -->
<script src="/res/main/page-console.js"></script>

<div class="col-md-12" data-page="console">
	<div class="col-md-12 section section-console">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<i class="fa fa-terminal"></i> Console
			</div>
			<div class="panel-body">
				<div class="row nav-button no-margin bordered">
					<div class="inline" style="width: 250px">
						<div class="btn btn-group btn-keys-info">
							<button class="btn btn-sm btn-success btn-keys">
								<span class="fa fa-key"></span> Keys
							</button>
							<button class="btn btn-sm btn-success btn-infoo" style="width:65px;">
								<span class="fa fa-info-circle"></span> Info
							</button>
						</div>
						<div class="btn btn-group">
							<button class="btn btn-sm btn-warning btn-detail" style="width:109px;">
								<span class="fa fa-list-alt"></span> Detail
							</button>
						</div>
						<div class="btn btn-group btn-read-write">
							<button class="btn btn-sm btn-success btn-write">
								<span class="fa fa-pencil"></span> Write
							</button>
							<button class="btn btn-sm btn-success btn-read">
								<span class="fa fa-book"></span> Read
							</button>
						</div>
						<div class="btn btn-group btn-set-get">
							<button class="btn btn-sm btn-success btn-set">
								<span class="fa fa-arrow-down"></span> Set
							</button>
							<button class="btn btn-sm btn-success btn-get">
								<span class="fa fa-arrow-up"></span> Get
							</button>
						</div>

					</div>
					<div class="inline" style="width: 200px;">
						<div class="input-group input-sm">
							<div class="input-group-addon input-sm">Key</div>
							<input type="text" class="form-control input-sm input-key" placeholder="Type key here ..." />
						</div>
					</div>
					<div class="inline inline-set" style="width: 200px;">
						<div class="input-group input-sm">
							<div class="input-group-addon input-sm">Value</div>
							<input type="text" class="form-control input-sm input-value" placeholder="Type value here ..." />
						</div>
					</div>
					<div class="inline" style="width: 71px;">
						<div class="btn btn-group padding-left">
							<button class="btn btn-sm btn-primary btn-run">
								<span class="fa fa-check"></span> Run
							</button>
						</div>
					</div>
				</div>
				<div class="row nav-button no-margin bordered" style="display: none;">
					<div class="inline" style="width: 112px;">&nbsp;</div>
					<div class="inline">
						<div class="input-group input-sm">
							<div class="input-group-addon input-sm">Owner</div>
							<input type="text" class="form-control input-sm input-owner" placeholder="Type here ..." />
						</div>
					</div>
					<div class="inline">
						<div class="input-group input-sm">
							<div class="input-group-addon input-sm">Table</div>
							<input type="text" class="form-control input-sm input-table" placeholder="Type here ..." />
						</div>
					</div>
					<div class="inline">
						<div class="input-group input-sm">
							<div class="input-group-addon input-sm">Duration</div>
							<input type="text" class="form-control input-sm input-duration" placeholder="Type here ..." />
						</div>
					</div>
					<div class="inline">
						<div class="input-group input-sm">
							<div class="input-group-addon input-sm">Permission</div>
							<input type="text" class="form-control input-sm input-permission" placeholder="Type here ..." />
						</div>
					</div>
				</div>

				<div class="row no-margin content"></div>

				<div class="loader">
					<img src="/res/images/loader.gif" />
				</div>
			</div>
		</div>
	</div>

	<div class="clearfix"></div>
</div>
{{end}}
