{{define "resource"}}
<!-- res/jquery -->
<script src="/res/jquery/jquery-2.1.3.min.js"></script>

<!-- res/bootstrap -->
<link rel="stylesheet" href="/res/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/res/bootstrap/css/bootstrap-theme.min.css">
<script src="/res/bootstrap/js/bootstrap.min.js"></script>

<!-- res/kendoui -->
<link rel="stylesheet" href="/res/kendoui/styles/kendo.common.min.css" />
<link rel="stylesheet" href="/res/kendoui/styles/kendo.silver.min.css" />
<link rel="stylesheet" href="/res/kendoui/styles/kendo.dataviz.min.css" />
<link rel="stylesheet" href="/res/kendoui/styles/kendo.dataviz.silver.min.css" />
<script src="/res/kendoui/js/kendo.all.min.js"></script>

<!-- res/toastr -->
<link rel="stylesheet" href="/res/toastr/toastr.min.css">
<script src="/res/toastr/toastr.min.js"></script>

<!-- css/font-awesome -->
<link rel="stylesheet" href="/res/font-awesome/css/font-awesome.min.css">

<!-- css/hover -->
<link rel="stylesheet" href="/res/hover/hover.min.css">

<!-- res/lazy -->
<script src="/res/lazy/lazy.min.js"></script>

<!-- res/main -->
<link rel="stylesheet" href="/res/main/main.css">
<script src="/res/main/main.js"></script>
{{end}}
